nav {
  display: flex;
  height: 108px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
.a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
}
.flag {
  color: red;
  font-size: medium;
}
